.delete{
    display: none;
}

.block{
    display: block;
}
.ho-img{
    max-width: 700px;
}
.ho-img-section{
    display: block;
}
.ho-title-section{
    display: flex;
}
.answer-fale{
    width: 200px;;
}