.delete{
    display: none;
}

.block{
    display: block;
}
.Issue-img{
    max-width: 700px;
}

.Issue-img-oo, .Issue-img-to{
    display: none;
}

.Issue-img-section{
    display: block;
}
.ho-title-section{
    display: flex;
}
.answer-fale{
    width: 200px;;
}